# Ignore everything at root
/*

# Allow these directories
!/public_html/
!/domains/
!.github
!/saleor/
!.gitignore
!deploy.sh

# Ignore node_modules and .next inside public_html
#/public_html/frontend/node_modules/
!/public_html/frontend/.next/

# Ignore node_modules and .next inside domains
/domains/api.ugolok.shop/public_html/API/node_modules/
/domains/api.ugolok.shop/public_html/API/.next/
