.usermin
.spamassassin/
.next/
node_modules/
.ssh
Maildir/
awstats/
bin/
cgi-bin/
/etc/
logs/
/.awstats-htpasswd
/.bash_history
/.bash_logout
/.bashrc
/.profile
.replit
/package-lock.json
package.json
replit.nix
/.config
/.git