# Ignore everything at root
/*

# Allow these directories
!/public_html/
!/domains/
!.gitignore

# Ignore node_modules and .next inside public_html
/public_html/node_modules/
/public_html/.next/

# Ignore node_modules and .next inside domains
/domains/node_modules/
/domains/.next/